
<!--
<ul>
	<li *ngFor="let event of events">
		<a href="{{event.link}}">{{event.title}}</a>
	</li>
</ul>
<br>
<br>
-->


<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>About</h4>
					<address>
						<strong>The Beer Yard</strong><br>
						218 East Lancaster Ave<br> 
						Wayne, PA 19087<br>
						<abbr title="Phone">P:</abbr> (610) 688-3431<br>	
						<a href="mailto:#">info@beeryard.com</a>
					</address>
					<strong>Hours of Operation</strong><br>
					M-Th 10am-4pm <br>  
					F-Sa 10am-11pm<br>
					Su   Noon-5pm
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Store News</h4>
					News Article info goes here
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Industry News</h4>
					News Article info goes here
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Upcoming Event</h4>
					News Article info goes here
				</div>
			</div>						
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Latest Arrivals</h4>
					beer1<br>
					beer2<br>
					beer3<br>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>Events</h4>
					<ul>
						<li *ngFor="let event of events">
							<a href="{{event.link}}">{{event.title}}</a>
						</li>
					</ul>
				</div>
			</div>			
		</div>	
	</div>
</div>
